name: Production

on:
  push:
    branches: [main]

jobs:
  release:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node: [16.x]

    name: Release - Node ${{ matrix.node }}
    steps:
      - name: Git checkout
        uses: actions/checkout@v2
      - name: Use Node.js ${{ matrix.node }}
        uses: actions/setup-node@v2
        with:
          node-version: ${{ matrix.node }}
      - name: Install node dependencies
        run: yarn
      - name: Build
        run: yarn build
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id:${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key:${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-east-1
      - name: CodeDeploy Deployment
        id: deploy
        run: |
          aws deploy create-deployment \
            --application-name Risk-Tool \
            --deployment-group-name Risk-Tool-Group \
            --deployment-config-name CodeDeployDefault.OneAtATime \
            --github-location repository=${{ github.repository }},commitId=${{ github.sha }}
